@using BirthdayTekken.Models.ViewModel
@model NewMatchVm
@{
    ViewData["Title"] = "Generate Match";
}

<h2>Generate Match</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="GenerateMatch" method="post">
            <div class="form-group">
                <label for="participant1">Participant 1</label>
                <input type="text" readonly class="form-control" id="participant1" value="@Model.Participant1.Name">
                <input type="hidden" asp-for="Participant1.Id">
            </div>
            <div class="form-group">
                <label for="participant2">Participant 2</label>
                <input type="text" readonly class="form-control" id="participant2" value="@Model.Participant2.Name">
                <input type="hidden" asp-for="Participant2.Id">
            </div>
            <div class="form-group">
                <label for="winnerId">Select Winner</label>
                <select asp-for="WinnerId" class="form-control" id="winnerId">
                    <option value="@Model.Participant1.Id">@Model.Participant1.Name</option>
                    <option value="@Model.Participant2.Id">@Model.Participant2.Name</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
