@using BirthdayTekken.Models.ViewModel
@model NewMatchVm
<h1>Round @Model.RoundNumber</h1>

<div>
    <div>@Model.Participant1.Name @Model.Participant1.Surname</div>
    <div>vs.</div>
    <div>@Model.Participant2.Name @Model.Participant2.Surname</div>
</div>