@using BirthdayTekken.Models.ViewModel;
@model IEnumerable<MatchViewModel>

@{
    ViewData["Title"] = "Matches";
}

<h1>Matches</h1>

<table class="table">
    <thead>
        <tr>
            <th>Match ID</th>
            <th>Round Number</th>
            <th>Participant 1</th>
            <th>Participant 2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var viewModel in Model)
        {
            <tr>
                <td>@viewModel.MatchId</td>
                <td>@viewModel.RoundNumber</td>
                <td>@viewModel.Participant1?.Name @viewModel.Participant1?.Surname</td>
                <td>@viewModel.Participant2?.Name @viewModel.Participant2?.Surname</td>
            </tr>
        }
    </tbody>
</table>
