@*@model Participant_Match

<h2>Round @Model.Match.RoundNumber</h2>

<div>
    <h4>Participants:</h4>
    <ul>
        @foreach (var participant in Model.Match.Participant_Matches)
        {
            <li>@participant.Participant.Name</li>
        }
    </ul>
</div>

<div>
    @using (Html.BeginForm("NextRound", "Match", new { roundNumber = Model.Match.RoundNumber }))
    {
        @for (int i = 0; i < Model.Match.Participant.Count; i += 2)
        {
            var participant1 = Model.Participants[i];
            var participant2 = Model.Participants[i + 1];

            <div>
                <span>@participant1.Name</span> vs <span>@participant2.Name</span>
                <input type="hidden" name="participant1Ids[@i]" value="@participant1.Id" />
                <input type="hidden" name="participant2Ids[@i]" value="@participant2.Id" />
                <label><input type="radio" name="winnerIds[@i]" value="@participant1.Id" checked />@participant1.Name</label>
                <label><input type="radio" name="winnerIds[@i]" value="@participant2.Id" />@participant2.Name</label>
            </div>
        }

        <input type="submit" value="Next Round" />
    }
</div>*@