@model BirthdayTekken.Models.Tournament

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label asp-for="Id"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.Id
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="TournamentDate"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.TournamentDate
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="PlayersNumber"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.PlayersNumber
        </dd>
        <dt class = "col-sm-2">
            <label asp-for="WinnerId"></label>
        </dt>
        <dd class = "col-sm-10">
            @Model.WinnerId
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
